{{ define "team/edit" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4">
        <div class="flex gap-4 items-center pb-4">
            <h2>Rediger {{ .team.Slug }}</h2>
            <form action="delete" method="POST">
                <fieldset>
                    <button type="submit"
                            onclick="return confirm('Er du sikker på at du vil slette {{ .team.Slug }}? Dette vil samtidig slette teamets Jupyter og Airflow (dersom det er satt opp). Det er ikke mulig å gjenopprette teamet.')"
                            class="navds-button navds-button--danger navds-button--small bg-surface-danger"
                    >
                                <span class="navds-label">
                                    Slett {{ .team.Slug }}
                                </span>
                    </button>
                </fieldset>
            </form>
        </div>

        {{ with .errors }}
            {{ . }}
        {{ end }}

        <form action="" method="POST" class="flex flex-col gap-4 w-80">
            <input type="text" name="team" id="team" value="{{ .team.Slug }}" readonly hidden/>
            <div class="navds-checkbox navds-checkbox--medium">
                <input id="enableallowlist" name="enableallowlist" type="checkbox"
                        class="navds-checkbox__input" {{ if .enableallowlist }}checked{{ end }}/>
                <label for="enableallowlist" class="navds-checkbox__label">
                    <span class="navds-checkbox__content">Bruk allowlist for teamets tjenester</span>
                </label>
                <div class="navds-fieldset__description navds-body-long navds-body-long--small">
                    <a class="navds-link" target="_blank"
                        href="https://docs.knada.io/analyse/airflow/knada-airflow/#trafikk-fra-airflow-workere">
                        Les mer om allowlisting av trafikk fra knada-tjenester i dokumentasjonen vår
                    </a>
                </div>
            </div>
            <fieldset id="users">
                <legend class="navds-form-field__label navds-label">Brukere</legend>
                <button type="button" class="mb-4 navds-button navds-button--secondary navds-button--small"
                        onClick="addElement()">
                    Legg til flere brukere
                </button>
            </fieldset>
            <fieldset class="flex gap-2 items-center">
                <button id="submit" type="submit" class="navds-button navds-button--primary bg-surface-action">
                        <span class="navds-label">
                            Lagre
                        </span>
                </button>
                <a href="/oversikt" class="navds-link">Avbryt</a>
            </fieldset>
        </form>
    </article>
    <script>
        {{ template "team/script" }}
        {{ range .team.Users }}
        addElement("{{ . }}")
        {{ end }}
    </script>
    {{ template "footer" }}
{{ end }}
