{{ define "team/edit" }}
    {{ template "head" }}
    <div class="box container">
        <div id="content">
            <h2>Rediger {{ .team }}</h2>
            {{ with .errors }}
                {{ . }}
            {{ end }}

            <form class="pure-form pure-form-stacked" action="delete" method="POST">
                <fieldset>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button button-error">Slett {{ .team }}</button>
                    </div>
                </fieldset>
            </form>

            <form class="pure-form pure-form-stacked" action="" method="POST">
                <fieldset class="pure-group" id="users">
                    <legend>Brukere</legend>
                    <button type="button" class="pure-button pure-button-primary" onClick="addElement()">Legg
                        til
                        flere
                        bruker
                    </button>
                </fieldset>

                <fieldset>
                    <div class="pure-controls">
                        <button id="submit" type="submit" class="pure-button pure-button-primary">Lagre</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        {{ template "team/script" }}
        {{ range .users }}
        addElement({{ . }})
        {{ end }}
        {{ if or (.pending_jupyterhub) (.pending_airflow) }}
            document.getElementById("submit").disabled = true;
        {{ end }}
    </script>
    {{ template "footer" }}
{{ end }}
