{{ define "team/new" }}
    {{ template "head" }}
    <div class="box container">
        <div id="content">
            <h2>Nytt team</h2>
            {{ with .errors }}
                {{ . }}
            {{ end }}
            <form class="pure-form pure-form-stacked" action="" method="POST">
                <div class="pure-control-group">
                    <label for="team">Teamnavn</label>
                    <input type="text" name="team" id="team" value="{{ .team }}"
                           placeholder="Små bokstaver med bindestrek"/>
                </div>

                <fieldset class="pure-group" id="users">
                    <legend>Brukere
                        <button type="button" class="pure-button pure-button-primary" onClick="addElement()">Legg til
                            flere
                            bruker
                        </button>
                    </legend>
                </fieldset>

                <div class="pure-control-group">
                    <label for="apiaccess">API-Tilgang</label>
                    <input type="checkbox" name="apiaccess" id="apiaccess" />
                </div>

                <fieldset>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Lagre</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        {{ template "team/script" }}
        addElement()
    </script>
    {{ template "footer" }}
{{ end }}
