{{ define "team/new_jupyter.tmpl" }}
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>
	<h1>
		Knorten says 'Hello {{ .team }}!'
	</h1>
	<form class="pure-form pure-form-aligned" action="" method="POST">
        <fieldset>
            <div id="user">
            <div class="pure-control-group">
                <label for="email">Bruker</label>
                <input type="email" name="users[]" id="email" placeholder="E-post" />
                <span class="pure-form-message-inline">This is a required field.</span>
                <button type="button" class="pure-button pure-button-primary" onClick="addElement()">Ny bruker</button>
            </div>
            <div class="pure-control-group">
                            <label for="email">Ny bruker</label>
                            <input type="email" name="users[]" id="email" placeholder="E-post" />
                        </div>
            </div>
            <div class="pure-control-group">
                <label for="cpu">CPU</label>
                <input type="text" name="cpu" id="cpu" placeholder="1" />
            </div>
            <div class="pure-control-group">
                <label for="memory">Memory</label>
                <input type="text" name="memory" id="memory" placeholder="1GB" />
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
<script>
document.body.onload = addElement;

function addElement() {
  const newDiv = document.createElement("div");
  newDiv.className = "pure-control-group"

  const label = document.createElement("label");
  label.setAttribute("for", "email");
  label.appendChild(document.createTextNode("Ny bruker"));

  const input = document.createElement("input");
  input.type = "email"
  input.name = "users[]"
  input.id = "email"
  input.placeholder = "E-post"


  // add the text node to the newly created div
  newDiv.appendChild(label);
  newDiv.appendChild(input);

  // add the newly created element and its content into the DOM
  const currentDiv = document.getElementById("user");
  currentDiv.appendChild(newDiv);
}
</script>
</body>
</html>
{{ end }}
