{{ define "team/script" }}
    function deleteRow() {
    const users = document.getElementById("users");
    users.removeChild(this.parentElement)
    }

    function addElement(user) {
    const newDiv = document.createElement("div");
    newDiv.style.display = "flex"

    const input = document.createElement("input");
    input.className = "pure-input-1-2"
    input.type = "email"
    input.name = "users[]"
    input.id = "email"
    if (user) {
    input.value = user
    }
    input.placeholder = "E-post"
    newDiv.appendChild(input)

    const button = document.createElement("button");
    button.className = "pure-button pure-button-primary"
    button.type = "button"
    button.textContent = "Slett"
    button.addEventListener("click", deleteRow)
    newDiv.appendChild(button)

    // add the newly created element and its content into the DOM
    const currentDiv = document.getElementById("users");
    currentDiv.appendChild(newDiv);
    }
{{ end }}