{{ define "oversikt/index" }}
    {{ template "head" . }}
    {{ with .errors }}
        {{ . }}
    {{ end }}
    {{ with .flashes }}
        {{ . }}
    {{ end }}

    {{ if .allPlannedUpgradePaused }}
    <article class="bg-white rounded-md p-4">
        <p>
            Se <a class="navds-link" href="/maintenance-exclusion">her</a> for oversikt over alle planlagte perioder
            hvor Airflow oppgraderinger settes på pause for teamene dine.
        </p>
    </article>
    {{ end }}

    <article class="bg-white rounded-md p-4">
        <div class="flex flex-col gap-4">
            <div class="flex items-center gap-4">
                <h2>Personlige tjenester</h2>
                {{ if .user.Compute }}
                    <a class="navds-button--small navds-button--secondary" href="compute/edit">Rediger</a>
                {{ end }}
            </div>
            <p>
                Google Secret Manager er en tjeneste som gir en sikker og praktisk metode for å lagre API-nøkler,
                passord,
                sertifikater og annen sensitiv data.
                Vi tilbyr personlige hemmeligheter i Google Secret Manager som kun du har tilgang til.
            </p>
            <p>
                Vi tilbyr private virtuelle maskiner gjennom Knorten, disse kjører i GCP prosjektet knada-gcp. Denne
                maskinen vil ha tilgang til on-premise kilder på lik linje som Notebooks og Airflow som kjører i KNADA.
            </p>
        </div>
        <table class="navds-table navds-table--small">
            <thead class="navds-table__header">
            <tr class="navds-table__row">
                <th class="navds-table__header-cell navds-label navds-label--small">Tjeneste</th>
                <th class="navds-table__header-cell navds-label navds-label--small">Dokumentasjon</th>
                <td class="navds-table__header-cell navds-label navds-label--small">Dashboard</td>
                <th class="navds-table__header-cell navds-label navds-label--small"></th>
            </tr>
            </thead>
            <tbody class="navds-table__body">
            <tr class="navds-table__row navds-table__row--shade-on-hover">
                <th class="navds-table__header-cell navds-label navds-label--small">
                    {{ with .user.Compute }}
                        <a class="navds-link" target="_blank"
                           href="https://console.cloud.google.com/compute/instancesDetail/zones/{{ $.gcpZone }}/instances/{{ .Name }}?project={{ $.gcpProject }}">
                            {{ .Name }}
                        </a>
                    {{ else }}
                        Compute instance
                    {{ end }}
                </th>
                <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                    <a class="navds-link" target="_blank"
                       href="https://docs.knada.io/analyse/knada-vm/#koble-til-vm-med-ssh">docs.knada.io</a>
                </td>
                <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                    <a class="navds-link" target="_blank" href="https://grafana.nav.cloud.nais.io/d/d3b703a2-e3c8-4702-abd7-54f19469b310/knada-vm-er?orgId=1">
                       Grafana
                    </a>
                </td>
                <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                    {{ if .user.Compute }}
                        <a class="navds-link" href="compute/edit">rediger</a>
                    {{ else }}
                        <a class="navds-link" href="/compute/new">opprett</a>
                    {{ end }}
                </td>
            </tr>
            <tr class="navds-table__row navds-table__row--shade-on-hover">
                <th class="navds-table__header-cell navds-label navds-label--small">
                    {{ with .user.UserGSM }}
                        <a class="navds-link" target="_blank"
                           href="https://console.cloud.google.com/security/secret-manager/secret/{{ .Name }}/versions?project={{ $.gcpProject }}">
                            Secret Manager
                        </a>
                    {{ else }}
                        Secret Manager
                    {{ end }}
                </th>
                <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                    <a class="navds-link" href="https://docs.knada.io/analyse/google-secret-manager/">docs.knada.io</a>
                </td>
                <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                    {{ with .user.UserGSM }}
                        <form action="/secret/delete" method="POST">
                            <fieldset class="flex gap-2 items-center">
                                <button type="submit"
                                        onclick="return confirm('Er du sikker på at du vil slette hemmelighetene dine? Det er ikke mulig å gjenopprette hemmelighetene.')"
                                        class="navds-link">
                                    slett
                                </button>
                            </fieldset>
                        </form>
                    {{ else }}
                        <form action="/secret/new" method="POST">
                            <fieldset class="flex gap-2 items-center">
                                <button type="submit"
                                        onclick="return confirm('Er du sikker på at du vil opprette en privat secret?')"
                                        class="navds-link">
                                    opprett
                                </button>
                            </fieldset>
                        </form>
                    {{ end }}
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        {{ template "event/logs/rows" .user.UserEvents }}
    </article>

    {{ range .user.Services }}
        {{ $teamID := .TeamID }}
        <article class="bg-white rounded-md p-4">
            <div class="flex flex-col gap-4">
                <div class="flex items-center gap-4">
                    <h2>
                        {{ .Slug }}
                    </h2>
                    <a class="navds-button--small navds-button--secondary" href="team/{{ .Slug }}/edit">Rediger</a>
                </div>
            </div>
            {{ with .Airflow }}
                <p>
                    <b>Service account:</b> <code class="text-base p-1 bg-gray-50">
                        {{ $teamID }}@{{ $.gcpProject }}.iam.gserviceaccount.com</code>
                </p>
                <p class="pb-2 pt-1">
                    <a class="navds-link" target="_blank" href="https://grafana.knada.io/d/b0a02f3a-e0b9-4657-a756-3a2312331a6a/teamdashbord-for-handlingsbar-innsikt?orgId=1&var-namespace={{ .Namespace }}">Grafana dashbord for feilsøking av teamets tjenester</a>
                </p>
            {{ end }}
            <table class="navds-table navds-table--small">
                <thead class="navds-table__header">
                <tr class="navds-table__row">
                    <th class="navds-table__header-cell navds-label navds-label--small">Tjeneste</th>
                    <th class="navds-table__header-cell navds-label navds-label--small">Adresse</th>
                    <th class="navds-table__header-cell navds-label navds-label--small">Dashboard</th>
                    <th class="navds-table__header-cell navds-label navds-label--small"></th>
                </tr>
                </thead>
                <tbody class="navds-table__body">
                <tr class="navds-table__row navds-table__row--shade-on-hover">
                    <th class="navds-table__header-cell navds-label navds-label--small">Teamkostnader</th>
                    <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                    <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                        <a class="navds-link" target="_blank" href="https://metabase.intern.nav.no/dashboard/413-teamkostnader-i-knada?team={{ .Slug }}">
                            Metabase
                        </a>
                    </td>
                    <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                </tr>
                <tr class="navds-table__row navds-table__row--shade-on-hover">
                    <th class="navds-table__header-cell navds-label navds-label--small">Secret Manager</th>
                    <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                        <a class="navds-link" target="_blank" href="https://console.cloud.google.com/security/secret-manager/secret/{{ $teamID }}/versions?project={{ $.gcpProject }}">
                            Google Cloud Platform
                        </a>
                    </td>
                    <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                    </td>
                    <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                </tr>
                {{ with .Jupyterhub }}
                    {{ template "oversikt/row" . }}
                {{ else }}
                    <tr class="navds-table__row navds-table__row--shade-on-hover">
                        <th class="navds-table__header-cell navds-label navds-label--small">Jupyter</th>
                        <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                        <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                        <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                            <a class="navds-link" href="/team/{{ .Slug }}/jupyterhub/new">Installer</a>
                        </td>
                    </tr>
                {{ end }}
                {{ with .Airflow }}
                    {{ template "oversikt/row" . }}
                {{ else }}
                    <tr class="navds-table__row navds-table__row--shade-on-hover">
                        <th class="navds-table__header-cell navds-label navds-label--small">Airflow</th>
                        <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                        <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                        <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                            <a class="navds-link" href="/team/{{ .Slug }}/airflow/new">Installer</a>
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
            <br>
            {{ template "event/logs/rows" .Events }}
            <a class="navds-link" href="team/{{ .Slug }}/events">Se alle events</a>
        </article>
    {{ end }}
    <article class="bg-white rounded-md p-4 flex flex-col gap-4">
        <a class="navds-button navds-button--secondary" href="/team/new">Legg til nytt team</a>
    </article>
    {{ template "footer" }}
{{ end }}
