{{ define "oversikt/index" }}
    {{ template "head" . }}
    <section class="w-full md:w-[64rem] flex flex-col gap-4 p-4">
            {{ with .errors }}
                {{ . }}
            {{ end }}
            {{ with .flashes }}
                {{ . }}
            {{ end }}

            <article class="bg-white rounded-md p-4">
                {{ range .services }}
                    <div class="flex items-center gap-4 pb-4">
                        <h2>
                            {{ .Slug }}
                        </h2>    
                        <a class="navds-button--small navds-button--secondary" href="team/{{ .Slug }}/edit">Rediger</a>
                    </div>
                    <a class="navds-link" target="_blank"  href="{{ .Secret }}">Secret Manager</a>
                    <p class="pb-4 flex items-center gap-2">
                        <b>Service account:</b> <code class="text-base p-1 bg-gray-50">{{ .ServiceAccount }}</code>
                    </p>
                    <label for="machine_types" class="navds-form-field__label navds-label">Apper</label>
                    <table class="navds-table navds-table--small" name="Apper">
                        <thead class="navds-table__header">
                        <tr class="navds-table__row">
                            <th class="navds-table__header-cell navds-label navds-label--small">App</th>
                            <th class="navds-table__header-cell navds-label navds-label--small">Adresse</th>
                            <th class="navds-table__header-cell navds-label navds-label--small"></th>
                        </tr>
                        </thead>
                        <tbody class="navds-table__body">
                        {{ with .Jupyterhub }}
                            {{ template "oversikt/row" . }}
                        {{ else }}
                            <tr class="navds-table__row navds-table__row--shade-on-hover">
                                <th class="navds-table__header-cell navds-label navds-label--small">Jupyterhub</th>
                                <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                                <td class="navds-table__data-cell navds-body-short navds-body-short--small"><a class="navds-link" href="/team/{{ .Slug }}/jupyterhub/new">Installer</a></td>
                            </tr>
                        {{ end }}
                        {{ with .Airflow }}
                            {{ template "oversikt/row" . }}
                        {{ else }}
                            <tr class="navds-table__row navds-table__row--shade-on-hover">
                                <th class="navds-table__header-cell navds-label navds-label--small">Airflow</th>
                                <td class="navds-table__data-cell navds-body-short navds-body-short--small"></td>
                                <td class="navds-table__data-cell navds-body-short navds-body-short--small"><a class="navds-link" href="/team/{{ .Slug }}/airflow/new">Installer</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                    <br/>
                    <label for="machine_types" class="navds-form-field__label navds-label">Compute</label>
                    <br/>
                    {{ with .Compute }}
                        <table class="navds-table navds-table--small">
                            <thead class="navds-table__header">
                            <tr class="navds-table__row">
                                <th class="navds-table__header-cell navds-label navds-label--small">Instans</th>
                                <th class="navds-table__header-cell navds-label navds-label--small">SSH</th>
                                <th class="navds-table__header-cell navds-label navds-label--small"></th>
                            </tr>
                            </thead>
                            <tbody class="navds-table__body">
                                <tr class="navds-table__row navds-table__row--shade-on-hover">
                                    <th class="navds-table__header-cell navds-label navds-label--small">
                                    <a class="navds-link" target="_blank" 
                                    href="https://console.cloud.google.com/compute/instancesDetail/zones/europe-west1-b/instances/{{ .Name }}?project=knada-gcp">
                                    {{ .Name }}
                                    </a>
                                    </th>
                                    <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                                        
                                    </td>
                                    <td class="navds-table__data-cell navds-body-short navds-body-short--small">
                                        <a class="navds-link" href="/team/{{ .Slug }}/compute/edit">Rediger</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {{ else }}
                        <a class="navds-link" href="/team/{{ .Slug }}/compute/new">Opprett</a>
                    {{ end }}
                {{ end }}
            </article>
            <div>
                <a class="navds-button navds-button--secondary" href="/team/new">Legg til nytt team</a>
            </div>
        </div>
    </section>
    {{ template "footer" }}
{{ end }}