{{ define "oversikt/row" }}
    <tr class="navds-table__row navds-table__row--shade-on-hover">
        <th class="navds-table__header-cell navds-label navds-label--small" style="text-transform: capitalize;">{{ .App }}</th>
        <td class="navds-table__data-cell navds-body-short navds-body-short--small">
            <a class="navds-link" target="_blank" href="{{ .Ingress }}">{{ .Ingress }}</a>
        </td>
        <td class="navds-table__data-cell navds-body-short navds-body-short--small">
            <a class="navds-link" href="/team/{{ .Slug }}/{{ .App }}/edit">Rediger</a>
        </td>
    </tr>
{{ end }}