{{ define "index" }}
    {{- template "head" . }}
    {{- with .errors }}
        <div id="banner" class="box container">
            {{ . }}
        </div>
    {{ end }}

    <article class="bg-white rounded-md p-4 h-72">
        <h2>Velkommen til Knorten!</h2>
        <p class="font-bold">Kodebasert analyse i skyen!</p>
        {{ if not .loggedIn }}
            <div>
                <a href="/oauth2/login" class="navds-button navds-button--primary">Logg inn</a>
            </div>
        {{ end }}
    </article>
    {{- template "footer" }}
{{ end }}
