{{ define "index.tmpl" }}
    {{ template "head" . }}
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="col-7 col-12-medium">
                    <h2>Hei, dette er Knorten</h2>
                    <p>Kodebasert analyse i skyen!</p>
                </div>
                <div class="col-5 col-12-medium">
                    <ul>
                        <li><a href="/oauth2/login" class="button large icon solid fa-arrow-circle-right">Logg inn</a>
                        </li>
                        <li><a href="https://docs.knada.io"
                               class="button alt large icon solid fa-question-circle">Doks</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" }}
{{ end }}