{{ define "index" }}
    {{- template "head" . }}
        {{- with .errors }}
            <div id="banner" class="box container">
                {{ . }}
            </div>
        {{ end }}
        <section class="bg-white w-full md:w-[42rem] h-72 flex flex-col justify-between p-4 rounded-md">
            <div>
                <h2 class="flex items-center gap-2">
                    Velkommen til Knorten!
                </h2>
                <p class="font-bold">Kodebasert analyse i skyen!</p>
            </div>
            {{ if not .loggedIn }}
                <div>
                    <a href="/oauth2/login" class="navds-button navds-button--primary">Logg inn</a>
                </div>
            {{ end }}
        </section>
    {{- template "footer" }}
{{ end }}