{{ define "secrets/index" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4">
        <h2 class="pb-4">Hemmeligheter</h2>
        <p class="flex items-center gap-4 pb-4">
            Her kan du definere grupper med hemmeligheter som vil lagres i google secret manager og synkes ut i
            clusteret som kubernetes secrets i team namespacet deres. Disse kubernetes secretene kan du så velge 
            å mounte inn og sette som miljøvariabler Airflow worker pods.
        </p>
        {{ with .errors }}
            {{ . }}
        {{ end }}
        {{ range $group, $secretGroup := .secrets }}
            <h2 class="pb-2">{{ $group }}</h2>
            <form action="/team/{{ $.slug }}/secrets/{{ $group }}" method="POST" class="mb-4 border-solid border-2 p-2">
                <fieldset>
                    <div id="values-{{ $group }}"></div>
                    <div>
                        <button type="button"
                                class="mb-4 navds-button navds-button--secondary navds-button--small"
                                onClick="addNewElement({{ $group }})"
                        >
                            <span class="navds-label">Nytt felt</span>
                        </button>
                    </div>
                </fieldset>
                <div class="pure-controls">
                    <button type="submit"
                            class="navds-button navds-button--primary bg-surface-action"
                    >
                        <span class="navds-label">Lagre</span>
                    </button>
                </div>
            </form>
        {{ end }}
    </article>

    <script>
        const inputCounterMap = new Map();
        const get = (id) => inputCounterMap.get(id) ?? 0;

        function deleteRow(event, id) {
            const valueDiv = document.getElementById(id);
            valueDiv.parentNode.removeChild(valueDiv)
        }

        function addNewElement(group) {
            inputCounterMap.set(group, get(group, 0)+1)
            const valuesDiv = document.getElementById("values-"+group);
            const inputID = group+"-"+inputCounterMap.get(group)
            valuesDiv.insertAdjacentHTML("beforeend",
                `<div id="${inputID}" class="mb-4 flex flex-col gap-2">
                    <input
                        class="navds-text-field__input navds-body-short navds-body-medium" 
                        type="text"
                        name="key.${group}.${inputCounterMap.get(group)}"
                        id="key.${group}.${inputCounterMap.get(group)}"
                        placeholder="key"
                    />
                    <div class="flex items-center gap-2">
                        <input
                            class="navds-text-field__input navds-body-short navds-body-medium"
                            type="text"
                            name="value.${group}.${inputCounterMap.get(group)}"
                            id="value.${group}.${inputCounterMap.get(group)}"
                            placeholder="value"
                        />
                        <div class="navds-checkbox navds-checkbox--small">
                            <input
                                type="checkbox"
                                name="value.${group}.${inputCounterMap.get(group)}"
                                id="value.${group}.${inputCounterMap.get(group)}"
                                class="navds-checkbox__input"
                            />
                        </div>
                        <button type="button" onclick="deleteRow(event, '${inputID}')" class="navds-button navds-button--secondary">
                                <span class="navds-label">Slett</span>
                        </button>
                    </div>
                </div>`
            );
        }

        function addElement(key, value, group) {
            inputCounterMap.set(group, get(group, 0)+1)
            currentID = group+"-"+inputCounterMap.get(group)
            const valuesDiv = document.getElementById("values-"+group)
            const keyValueDiv = document.createElement("div");
            keyValueDiv.setAttribute("class", "mb-4")
            keyValueDiv.setAttribute("id", group+"-"+inputCounterMap.get(group))

            const keyDiv = document.createElement("div");
            keyDiv.setAttribute("class", "flex gap-2");
            keyDiv.setAttribute("id", "key."+group+"."+inputCounterMap.get(group));

            var keyInput = document.createElement("input");
            keyInput.setAttribute("class", "cursor-default outline-none");
            keyInput.setAttribute("type", "text");
            keyInput.setAttribute("name", "key."+group+"."+inputCounterMap.get(group));
            keyInput.setAttribute("id", "key."+group+"."+inputCounterMap.get(group));
            keyInput.setAttribute("value", key);
            keyInput.readOnly = true;
            keyDiv.appendChild(keyInput);

            keyValueDiv.appendChild(keyDiv);

            const valueDiv = document.createElement("div");
            valueDiv.setAttribute("class", "flex gap-2");
            valueDiv.setAttribute("id", group+"-"+key);

            var valueInput = document.createElement("input");
            valueInput.setAttribute("class", "navds-text-field__input navds-body-short navds-body-medium");
            valueInput.setAttribute("type", "text");
            valueInput.setAttribute("name", "value."+group+"."+inputCounterMap.get(group));
            valueInput.setAttribute("id", "value."+group+"."+inputCounterMap.get(group));
            valueInput.setAttribute("value", value);
            valueDiv.appendChild(valueInput);

            const delButton = document.createElement("button");
            delButton.setAttribute("class", "navds-button navds-button--secondary");
            delButton.setAttribute("type", "button");
            delButton.setAttribute("onclick", "deleteRow(event, '"+currentID+"')");
            const delLabel = document.createElement("span");
            delLabel.setAttribute("class", "navds-label");
            delLabel.innerText = "Slett";
            delButton.appendChild(delLabel);

            valueDiv.appendChild(delButton);
            keyValueDiv.appendChild(valueDiv);
            valuesDiv.appendChild(keyValueDiv);
        }
        {{ range $group, $secretGroup := .secrets }}
            {{ range $secretGroup.Secrets }}
                addElement("{{ .Name }}", "{{ .Value }}", "{{ $group }}")
            {{ end }}
        {{ end }}
    </script>
    </article>
    {{ template "footer" }}
{{ end }}
