{{ define "secrets/index" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4">
            {{ range $group, $secrets := .secrets }}
            <h2>{{$group}}</h2>
            {{ range $secrets }}
                <div class="flex gap-2 mb-2">
                    <input 
                        class="navds-text-field__input navds-body-short navds-body-medium"
                        name="secrets[]" 
                        id="key" 
                        value={{ .Key }}
                        placeholder="navn" 
                    />
                    <input 
                        class="navds-text-field__input navds-body-short navds-body-medium"  
                        name="secrets[]" 
                        id="value" 
                        value={{ .Value }}
                        placeholder="verdi" 
                    />
                    <button type="button" onclick="deleteRow(event)" class="navds-button navds-button--secondary">
                        <span class="navds-label">Slett</span>
                    </button>
                </div>
            {{ end }}
            {{ end }}
    </article>
    {{ template "footer" }}
{{ end }}
