resources:
- ../../base

patchesStrategicMerge:
- cloudsql-proxy-patch.yaml
- hostname-patch.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - config.yaml=config-prod.yaml
  name: knorten-config
  namespace: knada-system
- files:
  - repositories.yaml=helm-repositories.yaml
  literals:
  - airflow_chart_version="1.16.0"
  name: helm-repos
  namespace: knada-system
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: europe-north1-docker.pkg.dev/knada-gcp/knada-north/knorten
  newTag: 0df8b6881f70ab173298f1f0a782def4748d00e6
