apiVersion: apps/v1
kind: Deployment
metadata:
  name: knorten
  namespace: knada-system
  labels:
    app: knorten
spec:
  replicas: 2
  selector:
    matchLabels:
      app: knorten
  template:
    metadata:
      labels:
        app: knorten
    spec:
      serviceAccountName: knorten
      imagePullSecrets:
      - name: ghcr-credentials
      containers:
      - name: knorten
        image: europe-west1-docker.pkg.dev/knada-gcp/knorten/knorten
        ports:
        - containerPort: 8080
        env:
          - name: "HOSTNAME"
            value: "knorten.knada.io"
          - name: "KNELM_IMAGE"
            value: europe-west1-docker.pkg.dev/knada-gcp/knorten/knelm:v9
          - name: "GIN_MODE"
            value: "release"
          - name: AIRFLOW_CHART_VERSION
            valueFrom:
              configMapRef:
                name: helm-repos-config
                key: airflow_chart_version
          - name: JUPYTER_CHART_VERSION
            valueFrom:
              configMapRef:
                name: helm-repos-config
                key: jupyter_chart_version
        envFrom:
        - secretRef:
            name: knorten
        volumeMounts:
          - name: helm-repos-config
            mountPath: /root/.config/helm/repositories.yaml
            subPath: repositories.yaml
      - name: cloudsql-proxy
        command:
        - /cloud_sql_proxy
        - -term_timeout=30s
        - -instances=knada-gcp:europe-west1:knorten=tcp:5432
        image: gcr.io/cloudsql-docker/gce-proxy:1.29.0-alpine
        ports:
        - containerPort: 5432
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsGroup: 2
          runAsNonRoot: true
          runAsUser: 2
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      volumes:
        - name: helm-repos-config
          configMap:
            name: helm-repos
