{{ define "admin/confirm" }}
    {{ template "head" . }}
    <div class="box container">
        <div id="content">
            <h2>Redigerte {{ .chart }} verdier</h2>
            <p>Er du sikker på at du ønsker å endre disse verdiene?</p>
            {{ $values := index .changedValues 0 }}
            <form class="pure-form pure-form-stacked" action="" method="POST">
                <fieldset>
                    {{ range $key, $value := $values }}
                        <div class="pure-control-group">
                            <label for="{{ $key }}">{{ if not $value.New }}- {{ end }}{{ if not $value.Old }}+ {{ end }}{{ $key }}</label>
                            {{ if $value.Old }}
                                <span>- {{ $value.Old }}</span>
                                <br>
                            {{ end }}
                            {{ if $value.New }}
                                <input type="text" name="{{ $key }}" id="{{ $key }}" value="{{ $value.New }}" hidden/>
                                {{ if $value.Encrypted }}
                                    <span type="text" name="{{ $key }}" id="{{ $key }}">+ encrypted value</span>
                                    <input type="checkbox" name="{{ $key }}" id="{{ $key }}" checked hidden/>
                                {{ else }}
                                    <span type="text" name="{{ $key }}" id="{{ $key }}">+ {{ $value.New }}</span>
                                {{ end }}
                            {{ else }}
                                <input type="text" name="{{ $key }}" id="{{ $key }}" hidden/>
                            {{ end }}
                        </div>
                    {{ end }}
                </fieldset>

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Lagre</button>
                </div>
            </form>
        </div>
    </div>
    {{ template "footer" }}
{{ end }}
