{{ define "admin/confirm" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4 flex flex-col gap-2">
        <h2>Redigerte {{ .chart }} verdier</h2>
        <p>Er du sikker på at du ønsker å endre disse verdiene?</p>
        {{ $values := index .changedValues 0 }}
        <form class="" action="" method="POST">
            <fieldset class="flex flex-col gap-2 mb-2">
                {{ range $key, $value := $values }}
                    <div>
                        <label
                                class="navds-form-field__label navds-label"
                                for="{{ $key }}">
                            {{ if not $value.New }}- {{ end }}
                            {{ if not $value.Old }}+ {{ end }}
                            {{ $key }}
                        </label>
                        <pre class="w-[90vw] md:w-[42rem] block whitespace-nowrap overflow-scroll bg-gray-200 p-4 rounded-md">
                                {{- if $value.Old }}<span class="text-red-500">- {{ $value.Old }}</span><br/>{{ end }}
                            {{- if $value.New }}{{- if $value.Encrypted }}<span
                                    class="text-green-500">+ encrypted value</span>{{- else }}<span
                                    class="text-green-500">+ {{ $value.New }}</span>{{ end }}
                            {{ end }}
                            </pre>
                        {{ if $value.New }}
                            <input type="text" name="{{ $key }}" id="{{ $key }}" value="{{ $value.New }}" hidden/>
                            {{ if $value.Encrypted }}
                                <input type="checkbox" name="{{ $key }}" id="{{ $key }}" checked hidden/>
                            {{ end }}
                        {{ else }}
                            <input type="text" name="{{ $key }}" id="{{ $key }}" hidden/>
                        {{ end }}
                    </div>
                {{ end }}
            </fieldset>
            <div>
                <button type="submit" class="navds-button navds-button--primary bg-surface-action">
                    <span class="navds-label">Lagre</span>
                </button>
            </div>
        </form>
    </article>
    {{ template "footer" }}
{{ end }}
