{{ define "admin/confirm" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4 flex flex-col gap-2">
        <h2>Redigerte {{ .chart }} verdier</h2>
        <p>Er du sikker på at du ønsker å endre disse verdiene?</p>
        {{ $values := index .changedValues 0 }}
        <form class="" action="" method="POST">
            <fieldset class="flex flex-col gap-2 mb-2">
                {{ range $key, $value := $values }}
                    <div>
                        <label
                                class="navds-form-field__label navds-label"
                                for="{{ $key }}">
                            {{ if not $value.New }}- {{ end }}
                            {{ if not $value.Old }}+ {{ end }}
                            {{ $key }}
                        </label>
                        <pre class="w-[90vw] md:w-[42rem] block whitespace-nowrap overflow-scroll bg-gray-200 p-4 rounded-md">
                                {{- if $value.Old }}<span class="text-red-500">- {{ $value.Old }}</span><br/>{{ end }}
                            {{- if $value.New }}{{- if $value.Encrypted }}<span
                                    class="text-green-500">+ encrypted value</span>{{- else }}<span
                                    class="text-green-500">+ {{ $value.New }}</span>{{ end }}
                            {{ end }}
                            </pre>
                        {{ if $value.New }}
                            <input type="text" name="{{ $key }}" id="{{ $key }}" value="{{ $value.New }}" hidden/>
                            {{ if $value.Encrypted }}
                                <input type="checkbox" name="{{ $key }}" id="{{ $key }}" checked hidden/>
                            {{ end }}
                        {{ else }}
                            <input type="text" name="{{ $key }}" id="{{ $key }}" hidden/>
                        {{ end }}
                    </div>
                {{ end }}
            </fieldset>
            <div class="flex flex-col gap-2 mb-2">
                <div class="navds-checkbox navds-checkbox--medium">
                    <input type="checkbox" class="navds-checkbox__input" name="action-trigger-resync"
                           id="action-trigger-resync" checked/>
                    <label class="navds-checkbox__label" for="action-trigger-resync">
                        <span class="navds-checkbox__label-text">Trigge resync av chart for alle teams</span></label>
                </div>
                <div class="navds-alert navds-alert--warning navds-alert--medium">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 24 24"
                         focusable="false" role="img" aria-labelledby="title-R2t6" class="navds-alert__icon"><title
                                id="title-R2t6">Advarsel</title>
                        <path fill="currentColor" fill-rule="evenodd"
                              d="M12 2.25a.75.75 0 0 1 .656.387l9.527 17.25A.75.75 0 0 1 21.526 21H2.474a.75.75 0 0 1-.657-1.113l9.526-17.25A.75.75 0 0 1 12 2.25M12 8.75a.75.75 0 0 1 .75.75v4a.75.75 0 0 1-1.5 0v-4a.75.75 0 0 1 .75-.75m-1 7.75a1 1 0 1 1 2 0 1 1 0 0 1-2 0"
                              clip-rule="evenodd"></path>
                    </svg>
                    <div class="navds-alert__wrapper navds-alert__wrapper--maxwidth navds-body-long navds-body-long--medium">
                        Vær oppmerksom på at hvis du ikke kjører resync, er det ingenting som forhindrer andre i Nada
                        eller automatiske jobber fra å kjøre resync.
                    </div>
                </div>
                <button type="submit" class="navds-button navds-button--primary bg-surface-action">
                    <span class="navds-label">Lagre</span>
                </button>
            </div>
        </form>
    </article>
    {{ template "footer" }}
{{ end }}
