{{ define "admin/event" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4 flex flex-col gap-2">
        <h2 class="mb-2">{{ .event.Owner }}: {{ .event.Type }}</h2>
        <p>
            <strong>ID:</strong> {{ .event.ID }},
            <br>
            <strong>Status:</strong> {{ .event.Status }},
            <br>
            <strong>Deadline:</strong> {{ .event.Deadline }},
            <br>
            <strong>Retry count:</strong> {{ .event.RetryCount }},
            <br>
            <strong>Created at:</strong> {{ .event.CreatedAt.Format "02.01.06 15:04:05" }},
            <br>
            <strong>Updated at:</strong> {{ .event.UpdatedAt.Format "02.01.06 15:04:05" }}
            <br>
            <strong>Payload:</strong> {{ printf "%s" .event.Payload }}
        </p>
        {{ if eq .event.Status "pending" }}
            <form action="/admin/event/{{ .event.ID }}?status=new" method="POST">
                <button
                        type="submit"
                        onclick="return confirm('Er du sikker på at du vil sette status til new?')"
                        class="mb-4 navds-button navds-button--secondary navds-button--small">
                    <span class="navds-label">Sett status til new</span>
                </button>
            </form>
        {{ end }}
        <label for="machine_types" class="navds-form-field__label navds-label">Eventlogs</label>
        <div id="{{ .event.ID }}">
            <table class="navds-table navds-table--small">
                <thead class="navds-table__header">
                <tr class="navds-table__row">
                    <th class="navds-table__header-cell navds-label navds-label--small">Level</th>
                    <th class="navds-table__header-cell navds-label navds-label--small">Message</th>
                    <th class="navds-table__header-cell navds-label navds-label--small">Created at</th>
                </tr>
                </thead>
                <tbody class="navds-table__body">
                {{ range $i, $logs := .logs }}
                        {{ template "event/logs/row" toArray $i $logs}}
                {{ end }}
                </tbody>
            </table>
            {{ if and .logs (gt (len .logs) 2) }}
            <button type="button" style="margin-top:0.5rem" class="navds-button navds-button--secondary navds-button--small"
                        onClick="toggleShowAll(event)">Vis mer</button>
            {{ end }}
        </div>
    </article>
    <script>
        {{ template "event/logs/script" }}
    </script>
    {{ template "footer" }}
{{ end }}
