{{ define "admin/index" }}
    {{ template "head" }}
    <div class="box container">
        <div id="content">
            <h2>Adminpanel</h2>
            {{ with .errors }}
                {{ . }}
            {{ end }}
            <ul>
                <li><a href="/admin/jupyterhub">Rediger globale Jupyter verdier</a></li>
                <li><a href="/admin/airflow">Rediger globale Airflow verdier</a></li>
            </ul>
            <h3>{{ len .teams }} team bruker Knada </h3>
            {{ range .teams }}
                <h4>{{ .ID }}</h4>
                {{ template "admin/row" . }}
                <strong>Brukere</strong>
                <ul>
                    {{ range .Users }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </div>

    {{ template "footer" }}
{{ end }}
