{{ define "admin/row" }}
    <div class="p-4">
        <h4 class="text-xl font-bold">{{ .ID }}</h4>
        {{ range .Apps }}
            {{ if eq . "airflow" }}
                <div class="flex gap-4 items-center">
                    <img src="/assets/img/airflow.svg" alt="Airflow logo">
                    <div>
                        <form action="/admin/airflow/sync" method="POST">
                            <input type="hidden" name="team" value="{{ $.ID }}"/>
                            <button type="submit" class="mb-4 navds-button navds-button--secondary navds-button--small">
                                <span class="navds-label">Resync Airflow for {{ $.Slug }}</span></button>
                        </form>
                    </div>
                </div>
            {{ else if eq . "jupyterhub" }}
                <div class="flex gap-4 items-center">
                    <img src="/assets/img/jupyter.svg" alt="Jupyter logo">
                    <div>
                        <form action="/admin/jupyterhub/sync" method="POST">
                            <button type="submit" class="mb-4 navds-button navds-button--secondary navds-button--small">
                                <span class="navds-label">Resync Jupyterhub for {{ $.Slug }}</span></button>
                            <input type="hidden" name="team" value="{{ $.ID }}"/>
                        </form>
                    </div>
                </div>
            {{ end }}
        {{ end }}

        <h5 class="font-bold">Eier</h5>
        <ul class="list-disc ml-4">
            {{ .Owner }}
        </ul>
        <h5 class="font-bold">Brukere</h5>
        <ul class="list-disc ml-4">
            {{ range .Users }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
{{ end }}
