{{ define "compute/edit" }}
    {{ template "head" . }}
    <section class="w-full md:w-[64rem] flex flex-col gap-4 p-4">
        <article class="bg-white rounded-md p-4">
            <h2 class="pb-4">Rediger din personlige compute instance</h2>
            <p>
                Vi støtter ikke endring av instans type i Knorten, så du må logge inn på Google Cloud Console for å
                endre.
                <br/>
                <a class="navds-link" target="_blank"
                   href="https://console.cloud.google.com/compute/instancesDetail/zones/europe-west1-b/instances/{{ .name }}?project=knada-gcp">
                    Gå til din compute instance i Google Cloud Console.
                </a>
            </p>
            <br/>
            <form action="delete" method="POST">
                <fieldset class="flex gap-2 items-center">
                    <button type="submit"
                            onclick="return confirm('Er du sikker på at du vil slette compute instansen? Det er ikke mulig å gjenopprette denne senere')"
                            class="navds-button navds-button--danger  bg-surface-danger">
                        <span class="navds-label">Slett compute instance</span>
                    </button>
                    <a href="/oversikt" class="navds-link">Avbryt</a>
                </fieldset>
            </form>
        </article>
    </section>
    {{ template "footer" }}
{{ end }}
