{{ define "compute/edit" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4">
        <h2 class="pb-4">Rediger din personlige compute instance</h2>
        <p class="flex items-center gap-4 pb-4">
            Vi støtter ikke endring av instans type i Knorten, så du må logge inn på Google Cloud Console for å
            endre.
        </p>
        <p class="flex items-center gap-4 pb-4">
            <a class="navds-link" target="_blank"
               href="https://console.cloud.google.com/compute/instancesDetail/zones/{{ .gcpZone }}/instances/{{ .name }}?project={{ .gcpProject }}">
                Gå til din compute instance i Google Cloud Console.
            </a>
        </p>
        <br/>
        <form action="delete" method="POST">
            <fieldset class="flex gap-2 items-center">
                <button type="submit"
                        onclick="return confirm('Er du sikker på at du vil slette compute instance? Det er ikke mulig å gjenopprette dataen, men du kan lage en ny en.')"
                        class="navds-button navds-button--danger  bg-surface-danger">
                    <span class="navds-label">Slett compute instance</span>
                </button>
                <a href="/oversikt" class="navds-link">Avbryt</a>
            </fieldset>
        </form>
    </article>
    {{ template "footer" }}
{{ end }}
