{{ define "charts/airflow" }}
    {{ template "head" }}
    <section class="w-full md:w-[64rem] flex flex-col gap-4 p-4">
        <article class="bg-white rounded-md p-4">
            {{ if .values }}
                <div class="flex gap-4 items-center pb-4">
                    <h2>Rediger {{ .team }} sin Airflow</h2>
                    <form action="delete" method="POST">
                        <fieldset>
                            <button type="submit"
                                    onclick="return confirm('Er du sikker på at du vil slette airflow? Det er ikke mulig å gjenopprette denne senere')"
                                    class="navds-button navds-button--danger navds-button--small bg-surface-danger"
                            >
                                <span class="navds-label">Slett Airflow</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
            {{ else }}
                <h2 class="pb-4">Ny Airflow Notebook for {{ .team }}</h2>
            {{ end }}
            {{ with .errors }}
                {{ . }}
            {{ end }}

            <form class="w-80" action="" method="POST">
                <fieldset class="flex flex-col gap-4">
                    <div class="navds-form-field navds-form-field--medium">
                        <label for="dagrepo" class="navds-form-field__label navds-label">DAG's repo</label>
                        <input type="text" name="dagrepo" id="dagrepo" value="{{ .values.DagRepo }}"
                            placeholder="navikt/dags" required
                            class="navds-text-field__input navds-body-short navds-body-medium" 
                        />
                    </div>
                    <div class="navds-form-field navds-form-field--medium">
                        <label for="dagrepobranch" class="navds-form-field__label navds-label">DAG's repo branch</label>
                        <input type="text" name="dagrepobranch" id="dagrepobranch" value="{{ .values.DagRepoBranch }}"
                            placeholder="main"
                            class="navds-text-field__input navds-body-short navds-body-medium"
                        />
                    </div>
                    <div class="navds-form-field navds-form-field--medium">
                        <label for="serviceuser" class="navds-form-field__label navds-label">Servicebruker</label>
                        <input type="text" name="serviceuser" id="serviceuser" value="{{ .values.ServiceUser }}"
                            class="navds-text-field__input navds-body-short navds-body-medium" 
                        />
                    </div>

                    <div>
                        <button 
                            id="submit" 
                            type="submit" 
                            class="navds-button navds-button--primary bg-surface-action"
                        >
                            <span class="navds-label">Lagre</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </article>
    </section>
    <script>
        function addElement() {
            const newDiv = document.createElement("div");
            newDiv.className = "pure-control-group"

            const label = document.createElement("label");
            label.setAttribute("for", "email");
            label.appendChild(document.createTextNode("Ny bruker"));

            const input = document.createElement("input");
            input.type = "email"
            input.name = "users[]"
            input.id = "email"
            input.placeholder = "E-post"

            // add the newly created element and its content into the DOM
            const currentDiv = document.getElementById("users");
            currentDiv.appendChild(input);
        }

        document.getElementById("submit").disabled = {{ .pending_airflow }};
    </script>
    {{ template "footer" }}
{{ end }}
