{{ define "charts/jupyterhub" }}
    {{ template "head" }}
    <div class="box container">
        <div id="content">
            {{ if .values }}
                <h2>Rediger Jupyter Notebook</h2>
            {{ else }}
                <h2>Ny Jupyter Notebook</h2>
            {{ end }}
            <form class="pure-form pure-form-stacked" action="" method="POST">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="cpu">CPU</label>
                        <input type="text" name="cpu" id="cpu" value="{{ .values.CPULimit }}" placeholder="1"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="memory">Memory</label>
                        <input type="number" step="0.1" min="0.5" name="memory" id="memory" value="{{ .values.MemoryLimit }}"
                               placeholder="0,5"/>
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Lagre</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        function addElement() {
            const newDiv = document.createElement("div");
            newDiv.className = "pure-control-group"

            const label = document.createElement("label");
            label.setAttribute("for", "email");
            label.appendChild(document.createTextNode("Ny bruker"));

            const input = document.createElement("input");
            input.type = "email"
            input.name = "users[]"
            input.id = "email"
            input.placeholder = "E-post"

            // add the newly created element and its content into the DOM
            const currentDiv = document.getElementById("users");
            currentDiv.appendChild(input);
        }
    </script>
    {{ template "footer" }}
{{ end }}
