{{ define "charts/jupyterhub" }}
    {{ template "head" . }}
    <article class="bg-white rounded-md p-4">
        {{ if .values }}
            <div class="flex gap-4 items-center pb-4">
                <h2>Rediger {{ .team }} sin Jupyter Notebook</h2>
                <form action="delete" method="POST">
                    <fieldset>
                        <button type="submit"
                                onclick="return confirm('Er du sikker på at du vil slette Jupyter? Det er ikke mulig å gjenopprette instansen.')"
                                class="navds-button navds-button--danger navds-button--small bg-surface-danger"
                        >
                            <span class="navds-label">Slett Jupyterhub</span>
                        </button>
                    </fieldset>
                </form>
            </div>
        {{ else }}
            <h2 class="pb-4">Ny Jupyter Notebook for {{ .team }}</h2>
        {{ end }}
        {{ with .errors }}
            {{ . }}
        {{ end }}

        <form class="flex flex-col gap-4 w-80" action="" method="POST">
            <fieldset class="flex flex-col gap-4">
                <div class="navds-form-field navds-form-field--medium">
                    <label for="cpu" class="navds-form-field__label navds-label">Maksimum CPU (cores)</label>
                    <input type="number" name="cpu" id="cpu" value="{{ or .values.CPU "0.5" }}"
                           placeholder="0.5" step="0.1" min="0.5"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <label for="cpurequest" class="navds-form-field__label navds-label">Garantert CPU (cores)</label>
                    <input type="number" name="cpurequest" id="cpurequest" value="{{ or .values.CPURequest "0.2" }}"
                           placeholder="0.2" step="0.1" min="0.2"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <label for="memory" class="navds-form-field__label navds-label">Maksimum minne (gigabyte)</label>
                    <input type="number" name="memory" id="memory" value="{{ or .values.MemoryWithoutUnit "2" }}"
                           placeholder="2" step="0.1" min="1"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <label for="memoryrequest" class="navds-form-field__label navds-label">Garantert minne (gigabyte)</label>
                    <input type="number" name="memoryrequest" id="memoryrequest" value="{{ or .values.MemoryRequestWithoutUnit "1" }}"
                           placeholder="1" step="0.1" min="1"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <label for="imagename" class="navds-form-field__label navds-label">Image</label>
                    <input type="string" name="imagename" id="imagename" value="{{ or .values.ImageName "" }}"
                           placeholder="Spesifiser image, velger default hvis utelatt"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <label for="imagetag" class="navds-form-field__label navds-label">Image Tag</label>
                    <input type="string" name="imagetag" id="imagetag" value="{{ or .values.ImageTag "" }}"
                           placeholder="Spesifiser image tag, velger default hvis utelatt"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <label for="culltimeout" class="navds-form-field__label navds-label">Cull Timeout</label>
                    <input type="string" name="culltimeout" id="culltimeout"
                           value="{{ or .values.CullTimeout "3600" }}"
                           placeholder="3600"
                           class="navds-text-field__input navds-body-short navds-body-medium"/>
                </div>
                <div class="navds-form-field navds-form-field--medium">
                    <fieldset id="allowlist">
                        <legend class="navds-form-field__label navds-label">Allowlist</legend>
                        <div class="navds-fieldset__description navds-body-long navds-body-long--small">
                            <p class="flex items-center gap-4 pb-4">
                                <a class="navds-link" target="_blank"
                                   href="https://docs.knada.io/analyse/notebook/knada-notebook/#trafikk-fra-notebooks">
                                    Les mer om trafikk fra en Notebook i dokumentasjonen vår
                                </a>
                            </p>
                        </div>
                        <button type="button" class="mb-4 navds-button navds-button--secondary navds-button--small"
                                onClick="addElement()">
                            Legg til flere hoster
                        </button>
                    </fieldset>
                </div>
                <div class="flex gap-2 items-center">
                    <button id="submit" type="submit" class="navds-button navds-button--primary bg-surface-action">
                        <span class="navds-label">Lagre</span>
                    </button>
                    <a href="/oversikt" class="navds-link">Avbryt</a>
                </div>
            </fieldset>
        </form>
    </article>
    <script>
        {{ template "charts/script" }}
        {{ range .values.Allowlist }}
            addElement("{{ . }}")
        {{ else }}
            addElement()
        {{ end }}
    </script>
    {{ template "footer" }}
{{ end }}
