{{ define "charts/jupyterhub" }}
    {{ template "head" }}
    <div class="box container">
        <div id="content">
            {{ if .values }}
                <h2>Rediger {{ .team }} sin Jupyter Notebook</h2>
            {{ else }}
                <h2>Ny Jupyter Notebook for {{ .team }}</h2>
            {{ end }}
            {{ with .errors }}
                {{ . }}
            {{ end }}

            <form class="pure-form pure-form-stacked" action="delete" method="POST">
                <fieldset>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button button-error">Slett Jupyterhub</button>
                    </div>
                </fieldset>
            </form>

            <form class="pure-form pure-form-stacked" action="" method="POST">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="cpu">CPU</label>
                        <input type="number" name="cpu" id="cpu" value="{{ or .values.CPULimit "0.5" }}"
                               placeholder="0.5" step="0.1" min="0.5"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="memory">Memory (gigabyte)</label>
                        <input type="number" name="memory" id="memory" value="{{ or .values.MemoryWithoutUnit "2" }}"
                               placeholder="2" step="0.1" min="1"/>
                    </div>
                     <div class="pure-control-group">
                        <label for="imagename">Image</label>
                        <input type="string" name="imagename" id="imagename" value="{{ .values.ImageName }}" 
                               placeholder="Spesifiser image, velger default hvis utelatt"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="imagetag">Image Tag</label>
                        <input type="string" name="imagetag" id="imagetag" value="{{ .values.ImageTag }}" 
                               placeholder="Spesifiser image tag, velger default hvis utelatt"/>
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Lagre</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        function addElement() {
            const newDiv = document.createElement("div");
            newDiv.className = "pure-control-group"

            const label = document.createElement("label");
            label.setAttribute("for", "email");
            label.appendChild(document.createTextNode("Ny bruker"));

            const input = document.createElement("input");
            input.type = "email"
            input.name = "users[]"
            input.id = "email"
            input.placeholder = "E-post"

            // add the newly created element and its content into the DOM
            const currentDiv = document.getElementById("users");
            currentDiv.appendChild(input);
        }
    </script>
    {{ template "footer" }}
{{ end }}
