{{ define "footer" }}
    </div>
    </div>
    </div>
    </div>
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <div class="col-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; NADA. All analytics reserved</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    </body>
    </html>
{{ end }}