{{ define "footer" }}
    </div> {{/* main container end */}}
    <footer class="mb-8 flex divide-x-2 divide-border-divider divide-solid">
        <p class="px-2">&copy; NADA. All analytics reserved</p>
        <a href="https://docs.knada.io" class="navds-link px-2">Dokumentasjon</a>
    </footer>
    </body>
    </html>
{{ end }}