{{ define "header" }}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Knorten</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="https://docs.knada.io" class="pure-menu-link">Docs</a></li>
            <li class="pure-menu-item"><a href="/log-in" class="pure-menu-link">Log in</a></li>
        </ul>
    </div>
</div>
{{ end }}