{{ define "user/index" }}
    {{ template "head" . }}
    <div class="box container">
        <div id="content">
            {{ with .errors }}
                {{ . }}
            {{ end }}

            {{ range .services }}
                <section>
                    <h2>
                        {{ .Slug }} (<a href="team/{{ .Slug }}/edit">rediger</a>)
                    </h2>
                    <table class="">
                        <thead>
                        <tr>
                            <th>App</th>
                            <th>Adresse</th>
                            <th>Secret</th>
                            <th>Service Account</th>
                            <th>Rediger</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ with .Jupyterhub }}
                            {{ template "user/row" . }}
                        {{ else }}
                            <tr>
                                <td>Jupyterhub</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="/team/{{ .Slug }}/jupyterhub/new">Installer</a></td>
                            </tr>
                        {{ end }}
                        {{ with .Airflow }}
                            {{ template "user/row" . }}
                        {{ else }}
                            <tr>
                                <td>Airflow</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="/team/{{ .Slug }}/airflow/new">Installer</a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </section>
            {{ end }}
            <a href="/team/new" class="button icon solid fa-info-circle">Nytt team</a>
        </div>
    </div>
    {{ template "footer" }}
{{ end }}