{{ define "events/row" }}
    <tr class="navds-table__row navds-table__row--shade-on-hover">
        <td class="navds-table__header-cell navds-label navds-label--small" style="text-transform: uppercase;">{{ .LogType }}</td>
        <td class="navds-table__data-cell navds-body-short navds-body-short--small">
            {{ .Message }}
        </td>
        <td class="navds-table__data-cell navds-body-short navds-body-short--small">
            {{ .CreatedAt }}
        </td>
    </tr>
{{ end }}
